@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Poiret+One');  

  html, body {
            height:100%;
            width:100%;
            text-align: center;
            font: 400 100% 'Poiret One';
			transition:0.3s;
            color: #333333;
        background-color: #ffffff;
background-image: url("../img/food.png");
font-weight:bold;
}

/**Menu=========================================**/

a{text-decoration:none;color:#333333}

.menu{width:0px;cursor:pointer;border-left:solid grey 10px;position:absolute; top:20px; left:20px;height:50px;overflow:hidden;transition:0.7s;padding:2px;z-index:18;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .menu {
        height:20px;
        border-left:solid grey 15px;
        z-index:4000;
    }
}

.menu:hover{border-left:solid #BFBFBF 3px;width:100px;height:100px;padding-top:-10px;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .menu:hover {
        height:20px;
        width:0;
        border-left:dashed white 10px;
        border-right:dashed white 10px;
        transform:rotate(90deg);
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .menu:focus {
        height:20px;
        width:0;
        border-left:dashed white 10px;
        border-right:dashed white 10px;
        transform:rotate(90deg);
        z-index:4000;
    }
}

.menu p{font-weight:bold;padding-left:20px;font-size:20;font-family: 'Poiret One', cursive;}

#content { 
text-align:center;
   padding: 12px 16px;
    text-decoration: none;
	font-family: 'Poiret One', cursive;
  opacity: 0.7;
  font-size:2.4em;
  z-index:20;
  position: relative;
  width: 250px;
  transition:0.9s;
  cursor:pointer;
  margin:auto;
  margin-top:10%;
  font-weight:bold;
}

#content a:hover{color:white;opacity:1;}

#sidebar{z-index:19;
		height:100%;
		left:0%; 
		width:0%;
		background-color:#937666;
		position:fixed;
		transition:0.7s;
		text-align:center;
		overflow:hidden;
		opacity:0.9;
		top:0;
		}
		
.item {
	transform-style: preserve-3d;
	transition:0.4s ease-in;
	text-align:center;
}

.item:hover {
	transform-origin: center bottom;
	transform: rotateX(-90deg) translateY(100%);
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .item {
        color:white;
        transform:rotateX(-90deg);
        z-index:4000;
    }
}

.logo{font-weight:bold;font-style:italic;font:400 100% 'Berkshire Swash';font-size:80px;}

.item1:after {top: -100%;left: 0px;width: 100%;position: absolute;border-radius: 5px;content: 'home';transform-origin: left bottom;transform: rotateX(90deg);}
.item2:after {top: -100%;left: 0px;width: 100%;position: absolute;border-radius: 5px;content: 'recipes';transform-origin: left bottom;transform: rotateX(90deg);}
.item3:after {top: -100%;left: 0px;width: 100%;position: absolute;border-radius: 5px;content: 'api';transform-origin: left bottom;transform: rotateX(90deg);}
.item4:after {top: -100%;left: 0px;width: 100%;position: absolute;border-radius: 5px;content: 'close';transform-origin: left bottom;transform: rotateX(90deg);}

.copyright{position:absolute;bottom:10px;margin:auto;left:0;right:0;color:white;}

/*Form 1 =======================================*/

legend{position:relative;left:0;right:0;font-family:'Berkshire Swash';font-size:3.8em;transition:0.7s;}

fieldset{opacity:1;margin:auto;margin-top:100px;border:2px dashed white;border-radius:3px;width:80%;}

fieldset:hover {background:#111c20}

/**Inputs==================================**/

#submit{
    color:#F5F5F5;
    border:none;
    border:2px solid #F5F5F5;
    width:auto;
    margin-top:100px;
    margin-bottom:100px;
    cursor:pointer;
    transition:0.3s;
}

#submit:hover{
    border:none;
    color:#F5F5F5;
    border-radius:20px;
    background:#333333;
}

input{font-family:'Poiret One';
font-weight:bold;
border:none;
background-color:transparent;
color:white;
font-size:36px;
letter-spacing: -1px;
outline: 0;
padding: 5px 20px;
text-align:center;
width:230px;
border-bottom:2px solid #4A4A4A;
transition:all 0.5s ease;
}

option{
    font-family:'Poiret One';
    font-weight:bold;
}

textarea{
    font-family:'Poiret One';
    font-weight:bold;
    font-size:14px;
    width:50%;
    padding:10px;
    border:none;
    border:2px dashed white;
    border-radius:4px;
}



input:hover{width:80%;}

#myform p {
letter-spacing:4px;
transition:all 0.5s ease;}

#output_image
{
 max-width:300px;
 position:relative;
 border-radius:5px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #output_image {
        max-width:250px;
    }
}

.output_image_preview
{
background-image:url('https://commons.wikimedia.org/wiki/File:Photo-camera-in-circular-outlined-interface-button.svg');	
width:270px;
padding:5px;
height:auto;
margin:auto;
overflow:hidden;
text-align:center;
border:2px dashed grey;
background:#333333;
position:relative;
transition:0.5s;
border-radius:5px;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .output_image_preview {
        width:250px;
    }
}

.output_image_preview:hover{
    border:3px dashed black;
    background:white;
    border-radius:10px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputlabel{
    width:100%;
    font-style:italic;
    z-index:1;
    background:transparent;
    bottom:0;
    text-align:center;
    font-family:'Poiret One';
    font-weight:bold;
    transition:0.3s;
    cursor:pointer;
}

.inputlabel:hover {
    color:black;
    background:white;
    border-radius:5px;
}

/**Select==========================================**/
.dropdown {
    border: 1px solid #ccc;
    width: 270px;
    border-radius: 3px;
    font-size:24px;
    overflow: hidden;
    margin:auto;
    background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
}

.dropdown select {
    padding: 5px 8px;
    width: 130%;
    font-size:24px;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    margin:auto;
}

.dropdown select:focus {
    outline: none;
}
/**Scrollbar========================================**/

.holder{
    height:100%;
    overflow:scroll;
    width:99%;
    margin:auto;
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
}

/* width */
::-webkit-scrollbar {
    width: 0px;
    opacity:0;
    display:none;
	margin:20px;
	height:20px;
	background:transparent;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
    opacity:0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #333333;
	border-radius:5px;
	padding:5px;
	margin:5px;
	opacity:1;
	transition:0.3s;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
	border-radius:10px;
	opacity:1;
}
